.player{
    position: absolute;
    right: 0;
    
    
    width: 300px;
    display: flex;
    align-items: center;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;   
    img{
        width: 70px;
        height: 70px;
        border-radius: 100%;
        cursor: pointer;
    }
    background-color: #404040;
    span{
        font-size: 32px;
        margin-left: 16px;
    }
}

.player-aktive{    
    background-color: orange;
}

