.game-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('./../../assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card-stack {   

    width: 220px;
    height: 300px;
    position: relative;
    padding-left: 100px;

    img {
        position: absolute;
        width: 220px;
        top: 0;
        right: 0;
    }
}

.top-card {
    cursor: pointer;
    transition: 1s ease-in-out;

    &:hover {

        transform: scale(1.1) translateY(-20px);
    }
}

.played-card{
    position: absolute;

    right: 840px;
    width: 220px;
    transform: scale(1.3) translateX(300px) translateY(-100px) rotate(-10deg);
}

.picked-card {
    transition: all 125ms ease-in-out;
    animation: pick-card-animation 1.25s ease-in-out;
    transform: scale(1.3) translateX(300px) translateY(-100px) rotate(-10deg);
}


@keyframes pick-card-animation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.6)
    }

    50% {
        transform: scale(1.6) translateX(100px);
    }

    100% {
        transform: scale(1.3) translateX(300px) translateY(-100px) rotate(-10deg);
    }
}