.start-screen{
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{        
        height: 100vh;
    }
    div{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        img{
            cursor: pointer;
            width: 350px;
            height: 60px;
            &:hover{
                filter: brightness(1.5);
            }
        }
    }
}
